<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!-- 자동 완성을 위해서 선언함 -->
<head>
    <meta charset="UTF-8">
    <title>장바구니</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="/BookMarket/js/controllers.js"></script>
</head>
<body>
<div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
    <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center"
            id="bd-theme"
            type="button"
            aria-expanded="false"
            data-bs-toggle="dropdown"
            aria-label="Toggle theme (auto)">
        <svg class="bi my-1 theme-icon-active" width="1em" height="1em"><use href="#circle-half"></use></svg>
        <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
    </button>
    <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
                <svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="#sun-fill"></use></svg>
                Light
                <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
                <svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="#moon-stars-fill"></use></svg>
                Dark
                <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
                <svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="#circle-half"></use></svg>
                Auto
                <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
            </button>
        </li>
    </ul>
</div>


<main>
    <div class="container py-4">
        <th:block th:replace="~{module/header}"></th:block>

        <div class="p-5 mb-4 bg-body-tertiary rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">장바구니</h1>
                <p class="col-md-8 fs-4">BookMarket</p>
            </div>
        </div>

        <div class="row align-items-md-stretch">
            <div class="col-md-12">
                <form name="deleteForm" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <a th:href="'javascript:deleteCart()'" class="btn btn-danger" style="float: right">&laquo; 삭제하기</a>
                    <a th:href="'/BookMarket/order/' + ${cartId}" class="btn btn-success text-right" style="float: right">주문하기 &raquo;</a>
                </form>
            </div>
            <div style="padding-top: 50px">
                <table class="table table-hover">
                    <tr>
                        <th>도서</th>
                        <th>가격</th>
                        <th>수량</th>
                        <th>소계</th>
                        <th>비고</th>
                        <th></th>
                    </tr>
                    <form name="removeForm" method="post">
                        <input type="hidden" name="_method" value="delete">
                        <div th:if="${cart != null}">
                            <div th:each="cartItem : ${cart.cartItems}">
                                <tr>
                                    <td th:text="${cartItem.value.book.bookId} + ' - ' + ${cartItem.value.book.name}"></td>
                                    <td th:text="${cartItem.value.book.unitPrice}"></td>
                                    <td th:text="${cartItem.value.quantity}"></td>
                                    <td th:text="${cartItem.value.totalPrice}"></td>
                                    <td><a th:href="'javascript:removeFromCart(\'' + ${cartItem.value.book.bookId} + '\', \'' + ${cartId} + '\')'"><span class="badge text-bg-danger">삭제</span></a></td>
                                </tr>
                            </div>
                        </div>
                    </form>
                </table>
                <div class="text-end" style="padding-right: 30px">
                    <b>총액</b>
                    <span th:if="${cart != null}">
                        <b>[[${cart.grandTotal}]]</b>
                    </span>
                </div>
                <br>
                <a href="/BookMarket/books" class="btn btn-secondary" role="button">&laquo; 도서 목록</a>
            </div>

            <th:block th:replace="~{module/header}"></th:block>
        </div>
    </div>
</main>
</body>
</html>